################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vspscc
*.user
*.csproj.user
*.suo
*.vssscc
bin/
obj/
/packages
desktop.ini