################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vspscc
*.user
*.csproj.user
*.suo
*.vssscc
Web/App_Data/*.mdf
Web/App_Data/*.ldf
bin/
obj/
/packages
desktop.ini

